@* builder Template File *@
@(uid:Int, ingredients: Seq[Int], sid: Int, sname:String, currentS: Seq[Int])
@main("sandwich builder"){
	<h1>Sandwich Builder</h1>
	<h2></h2>
	
	<form action="/changeName" method="POST">
	<input type="hidden" name="sid" value=@sid></input>
	<input type="text" name="sname" value="@sname"></input>
	<button type="submit" name="namechange" value="Submit Sandwich" class="btn btn-success">Update Name</button>
	</form>
	<div class="container">
	<div class="row">
	<div class="col">
	<table class="IngredientBuilder">
		<thead>
            	<tr id="table-header">
                	<b>
                    	<th colspan="2"><h3>Ingredients</h3></th>
             
                    </b>
                </tr>
            </thead>
		<tbody id="table-data">
		@for(x<-ingredients){
			<tr>
				<td> @models.Featured.parseI(x) </td>
				<td> 
					<form action="/addIngredient" method="POST">
						<input type="hidden" name="iid" value=@x></input>
						<input type="hidden" name="sid" value=@sid></input>
						<input type="hidden" name="sname" value=@sname></input>
						<button type="submit" name="addingredient" value="Add ingredient" class="btn btn-success">Add Ingredient</button>
					</form>
				</td>
			</tr>
		}
		</tbody>	
	</table>
	</div>
	
	<div class="col">
	
	<table class="Current">
		<thead>
            	<tr id="table-header">
                	<b>
                    	<th><h3>Current Ingredients</h3></th>
                    
                    </b>
                </tr>
            </thead>
		<tbody id="table-data">
		@for(x<-currentS){
			<tr>
				<td> @models.Featured.parseI(x) </td>
			</tr>
		}
		</tbody>	
	</table>
	</div>
	
	</div>
		</div>
}