@* userProfile Template File *@
@(uid:String)

@main("User Profile") {
	<div class="sandwichList">
		<div>
        	<h2>Sandwich Creations</h2>
        </div>
        <div>
        	<table class="table-buttons">
            	<tr>
                    <th class="table-buttons">Sort by:
                    	<select id="sort-by">
                        	<option value="SandwichName">Sandwich Name A-Z</option>
                            <option value="UserName">User Name A-Z</option>
                            <option value="NumLikes"># Likes</option>
                        </select>
                    </th>
                </tr>
            </table>
        </div>
        <table>
        	<thead>
            	<tr id="table-header">
                	<b>
                    	<th><h3>Sandwich</h3></th>
                    	<th><h3>Username</h3></th>
                        <th><h3>Ingredients</h3></th>
                        <th><h3>Likes</h3></th>
                        <th><h3>Like!</h3></th>
                    </b>
                </tr>
            </thead>
            <tbody id="table-data">

  				<tr>
  					<td class="sandwich">Name</td>
  					<td class="username">Username</td>
  					<td class="ingredients">Ingredients</td>
  					<td class="likes">Likes</td>
  					<td class="likeMe">
  						<form action="/delete8" method="POST">
  							<input type="hidden" name="uid" value="name">
							<input type="submit" name="delete" value="Delete">
							<button type="submit" name="like" value="Like" class="btn btn-success">Like!</button>
						</form>
  					</td>
  				</tr>

            </tbody>
    	</table>
	</div>
}