@* userProfile Template File *@
@(uid:String, sandwiches:Seq[(String, Seq[Int], String, Int, Int)])(implicit request: MessagesRequestHeader)
@main("User Profile") {
	<div class="sandwichList">
		<div>
        	<h2>Sandwich Creations</h2>
        </div>
        <table>
        	<thead>
            	<tr id="table-header">
                	<b>
                    	<th><h3>Sandwich</h3></th>
                    	<th><h3>Username</h3></th>
                        <th><h3>Ingredients</h3></th>
                        <th><h3>Likes</h3></th>
                        <th><h3>Like!</h3></th>
                    </b>
                </tr>
            </thead>
            <tbody id="table-data">
			@for(s <- sandwiches) {
  				<tr>
  					<td class="sandwich1">@s._1</td>
  					<td class="username">@s._3</td>
  					<td class="ingredients">@s._2.map(f => models.Featured.parseI(f)).mkString(", ")</td>
  					<td class="likes">@s._4</td>
  					<td class="likeMe">
  						<form action="/likeSandwich" method="POST">
  						@helper.CSRF.formField
  							<input type="hidden" name="uid" value="@uid">
  							<input type="hidden" name="sid" value="@s._5">
							<button type="submit" name="like" value="Like" class="btn btn-success">Like!</button>
						</form>
  					</td>
  				</tr>
			}
            </tbody>
    	</table>
	</div>
}